DB_PASSWORD={{ netbox_database_password }}
REDIS_PASSWORD={{ redis_password }}
SECRET_KEY={{ netbox_secret_key }}
API_TOKEN_PEPPER_1={{ netbox_api_token_pepper }}
SUPERUSER_NAME={{ netbox_admin_username }}
SUPERUSER_EMAIL={{ netbox_admin_email }}
SUPERUSER_PASSWORD={{ netbox_admin_password }}
SKIP_SUPERUSER=false
MAX_DB_WAIT_TIME=120
GRANIAN_WORKERS=2
