DB_PASSWORD={{ netbox_database_password }}
REDIS_PASSWORD={{ redis_password }}
SECRET_KEY={{ netbox_secret_key }}
API_TOKEN_PEPPER_1={{ netbox_api_token_pepper }}
SKIP_SUPERUSER=true
LDAP_READER_PASSWORD={{ lldap_reader_password }}
OIDC_CLIENT_ID={{ identity_clients.netbox.client_id }}
OIDC_CLIENT_SECRET={{ identity_clients.netbox.client_secret }}
MAX_DB_WAIT_TIME=120
GRANIAN_WORKERS=2
