[Unit]
Description=InfraBox OpenBao certificate Agent
After=openbao.service network-online.target
Wants=openbao.service network-online.target
[Service]
ExecStart=/usr/local/bin/bao agent -config=/etc/infrabox/openbao-agent/agent.hcl
Restart=on-failure
RestartSec=5
UMask=0077
RuntimeDirectory=infrabox-openbao-agent
RuntimeDirectoryMode=0700
NoNewPrivileges=true
PrivateTmp=true
ProtectHome=true
[Install]
WantedBy=multi-user.target
