[Unit]
Description=Rotate InfraBox certificate Agent SecretID
After=openbao-agent.service
[Service]
Type=oneshot
ExecStart=/usr/bin/python3 /etc/infrabox/openbao-agent/rotate-secret-id.py
UMask=0077
NoNewPrivileges=true
PrivateTmp=true
ProtectHome=true
