[Unit]
Description=InfraBox Grafana
After=postgresql.service prometheus.service
Requires=postgresql.service
[Container]
Image={{ grafana_image }}
ContainerName=grafana
User={{ grafana_uid }}:{{ grafana_uid }}
DropCapability=all
NoNewPrivileges=true
Network=infrabox.network
NetworkAlias=grafana.{{ infrabox_internal_domain }}
PublishPort=127.0.0.1:3001:3000
EnvironmentFile={{ infrabox_config_root }}/grafana/grafana.env
Volume={{ infrabox_storage_root }}/grafana:/var/lib/grafana:Z
Volume={{ infrabox_config_root }}/grafana/datasources:/etc/grafana/provisioning/datasources:ro,Z
Volume={{ infrabox_root_ca_path }}:/run/infrabox-ca/root-ca.crt:ro,z
Volume={{ infrabox_config_root }}/grafana/dashboard-providers:/etc/grafana/provisioning/dashboards:ro,Z
Volume={{ infrabox_config_root }}/grafana/dashboards:/etc/grafana/infrabox-dashboards:ro,Z
[Service]
Restart=on-failure
TimeoutStartSec=300
[Install]
WantedBy=multi-user.target
