ui = true
api_addr = "{{ 'https://openbao.' ~ infrabox_internal_domain ~ ':8200' if openbao_tls_enabled else 'http://127.0.0.1:8200' }}"
cluster_addr = "https://127.0.0.1:8201"
storage "raft" {
  path = "/var/lib/openbao"
  node_id = "{{ inventory_hostname }}"
}
seal "pkcs11" {
  lib = "{{ openbao_pkcs11_library }}"
  token_label = "{{ openbao_pkcs11_token_label }}"
  key_label = "{{ openbao_pkcs11_key_label }}"
  mechanism = "{{ openbao_pkcs11_mechanism }}"
  rsa_oaep_hash = "{{ openbao_pkcs11_rsa_oaep_hash }}"
}
listener "tcp" {
  address = "{{ '0.0.0.0' if openbao_tls_enabled else '127.0.0.1' }}:8200"
  cluster_address = "127.0.0.1:8201"
  tls_disable = {{ 'false' if openbao_tls_enabled else 'true' }}
{% if openbao_tls_enabled %}
  tls_cert_file = "/etc/openbao/pki/server-chain.crt"
  tls_key_file = "/etc/openbao/pki/server.key"
{% endif %}
}
listener "unix" {
  address = "/run/infrabox-openbao/api.sock"
  socket_mode = "0600"
  socket_user = "{{ openbao_uid }}"
  socket_group = "{{ openbao_gid }}"
}

telemetry {
  disable_hostname = true
  prometheus_retention_time = "5m"
}
